# ğŸ¼ Complete Pandas Tutorial for Beginners

Welcome to the most comprehensive pandas tutorial for beginners! ğŸ‰

## What You'll Learn

This notebook will take you from zero to hero in pandas - Python's most powerful data analysis library. Think of pandas as **"Excel for Python"** - but much more powerful!

### ğŸ¯ Core Philosophy
- **Analogy is King:** We'll relate everything to Excel concepts you already know
- **Practical Examples:** Using the famous Titanic dataset - small, intuitive, and fun!
- **Learn by Doing:** Every concept comes with hands-on examples

### ğŸ“‹ What We'll Cover
1. **The Basics:** Series, DataFrames, and why pandas rocks
2. **Data Loading:** Getting your data into pandas
3. **Data Inspection:** The "holy trinity" of data exploration
4. **Selecting & Filtering:** The real magic begins here
5. **Data Cleaning:** Handling messy real-world data
6. **Grouping & Aggregation:** The power of the "Split-Apply-Combine" pattern
7. **Combining Data:** Merging and concatenating DataFrames
8. **Mini-Project:** Putting it all together!

### ğŸš€ Let's Get Started!

**Remember:** Pandas is like Excel, but:
- A DataFrame = A spreadsheet
- A Series = A single column
- Filtering = Excel's filter dropdowns
- GroupBy = Excel's PivotTables
- But with the power of programming! ğŸ’ª

## ğŸ“¦ Section 1: Import Libraries and Load Dataset

First things first - let's import the libraries we need and load our dataset. We'll use the famous Titanic dataset because it's:
- Small and manageable
- Has interesting categorical and numerical data
- Tells a story everyone can relate to
- Perfect for learning!

In [ ]:
# Import the essential libraries
import pandas as pd  # The 'pd' is a universal convention - everyone uses this!
import numpy as np   # For numerical operations

# Let's check our pandas version
print(f"Pandas version: {pd.__version__}")
print("ğŸ‰ Ready to explore data with pandas!")

In [ ]:
# Let's create our dataset first - a simplified Titanic dataset
# In real life, you'd use pd.read_csv('titanic.csv')

# Creating sample data that represents the Titanic dataset
titanic_data = {
    'PassengerId': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'Survived': [0, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0],
    'Pclass': [3, 1, 3, 1, 3, 3, 1, 3, 2, 3, 1, 3],
    'Name': ['Braund, Mr. Owen Harris', 'Cumings, Mrs. John Bradley',
             'Heikkinen, Miss. Laina', 'Futrelle, Mrs. Jacques Heath',
             'Allen, Mr. William Henry', 'Moran, Mr. James',
             'McCarthy, Mr. Timothy J', 'Palsson, Master. Gosta Leonard',
             'Johnson, Mrs. Oscar W', 'Nasser, Mrs. Nicholas',
             'Sandstrom, Miss. Marguerite Rut', 'Bonnell, Miss. Elizabeth'],
    'Sex': ['male', 'female', 'female', 'female', 'male', 'male',
            'male', 'male', 'female', 'female', 'female', 'female'],
    'Age': [22.0, 38.0, 26.0, 35.0, 35.0, None, 54.0, 2.0, 27.0, 14.0, 4.0, 58.0],
    'Fare': [7.25, 71.28, 7.92, 53.1, 8.05, 8.46, 51.86, 21.08, 11.13, 30.07, 16.7, 26.55]
}

# Convert to DataFrame - think of this as opening a CSV file in Excel!
df = pd.DataFrame(titanic_data)

print("âœ… Dataset created successfully!")
print(f"ğŸ“Š Shape: {df.shape} (that means {df.shape[0]} rows and {df.shape[1]} columns)")
print("\nğŸ¯ Think of this as your Excel spreadsheet, but in Python!")

## ğŸ—ï¸ Section 2: First Look at DataFrames and Series

Before we dive into our Titanic data, let's understand the two core building blocks of pandas:

- **Series**: A 1D array (like a single column in Excel)
- **DataFrame**: A 2D table (like an entire Excel spreadsheet)

### ğŸ¯ The Excel Analogy:
- Series = One column in Excel
- DataFrame = The entire spreadsheet with multiple columns

In [ ]:
# Creating a Series (1D) - like a single column
ages = pd.Series([25, 30, 35, 40, 45], name='Age')
print("ğŸ“Š This is a Series (1D data):")
print(ages)
print(f"Type: {type(ages)}")

print("\n" + "="*50)

# Creating a DataFrame (2D) - like a full spreadsheet
simple_data = {
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['New York', 'London', 'Tokyo']
}
simple_df = pd.DataFrame(simple_data)
print("\nğŸ“Š This is a DataFrame (2D data):")
print(simple_df)
print(f"Type: {type(simple_df)}")

## ğŸ” Section 3: Inspecting Your Data - The "Holy Trinity"

When you get a new dataset, these are the first commands you should ALWAYS run. Think of them as your data detective tools! ğŸ•µï¸â€â™€ï¸

### The Holy Trinity of Data Inspection:
1. `df.head()` - See the first few rows (like scrolling to the top in Excel)
2. `df.info()` - Get the "health report" of your data
3. `df.describe()` - Get statistical summary (like Excel's summary statistics)

In [ ]:
# 1ï¸âƒ£ df.head() - See the first few rows (default is 5)
print("ğŸ”¸ df.head() - First look at our data:")
print(df.head())

print("\n" + "="*60)

# You can also see the last few rows
print("\nğŸ”¸ df.tail() - Last few rows:")
print(df.tail(3))  # Show last 3 rows

In [ ]:
# 2ï¸âƒ£ df.info() - The "health report" of your data (SUPER IMPORTANT!)
print("ğŸ”¸ df.info() - Health report of our dataset:")
print(df.info())
print("\nğŸ’¡ This tells you:")
print("   - Column names and their data types")
print("   - How many non-null (not missing) values each column has")
print("   - Memory usage")

In [ ]:
# 3ï¸âƒ£ df.describe() - Statistical summary for numerical columns
print("ğŸ”¸ df.describe() - Statistical summary:")
print(df.describe())
print("\nğŸ’¡ This gives you mean, std, min, max, quartiles for numerical columns")

print("\n" + "="*60)

# Other useful inspection methods
print("\nğŸ”¸ df.shape - Dimensions of your data:")
print(f"Shape: {df.shape} (rows, columns)")

print("\nğŸ”¸ df.columns - Column names:")
print(f"Columns: {list(df.columns)}")

print("\nğŸ”¸ df.dtypes - Data types of each column:")
print(df.dtypes)

## ğŸ“‹ Section 4: Selecting Columns and Basic Indexing

Now let's learn how to pick specific columns from our DataFrame. This is like selecting columns in Excel!

### ğŸ¯ Key Concepts:
- `df['column']` â†’ Returns a **Series** (single column)
- `df[['col1', 'col2']]` â†’ Returns a **DataFrame** (multiple columns)
- Notice the double brackets for multiple columns!

In [ ]:
# Selecting a SINGLE column - returns a Series
names = df['Name']
print("ğŸ”¸ Single column selection - df['Name']:")
print(f"Type: {type(names)}")
print(names.head(3))

print("\n" + "="*60)

# Selecting MULTIPLE columns - returns a DataFrame
# Notice the DOUBLE brackets!
subset = df[['Name', 'Age', 'Sex']]
print("\nğŸ”¸ Multiple column selection - df[['Name', 'Age', 'Sex']]:")
print(f"Type: {type(subset)}")
print(subset.head(3))

## ğŸ¯ Section 5: Selecting Rows with iloc and loc

Now for the really powerful stuff! Let's learn how to select specific rows. This is like clicking on row numbers in Excel.

### ğŸ”§ Two Methods:
- **`.iloc`** â†’ Integer Location (position-based): 0, 1, 2, 3...
- **`.loc`** â†’ Label Location (label-based): uses the actual index labels

### ğŸš¨ Important Difference:
- `.iloc[0:3]` â†’ Gets rows 0, 1, 2 (excludes 3)
- `.loc[0:3]` â†’ Gets rows 0, 1, 2, 3 (includes 3)

In [ ]:
# .iloc - Integer Location (position-based)
print("ğŸ”¸ .iloc examples (position-based):")
print("\nFirst row (position 0):")
print(df.iloc[0])

print("\nFirst 3 rows (positions 0, 1, 2):")
print(df.iloc[0:3])

print("\nRows 2, 4, 6 (specific positions):")
print(df.iloc[[2, 4, 6]])

In [ ]:
# .loc - Label Location (uses index labels)
print("ğŸ”¸ .loc examples (label-based):")
print("\nRow with index label 0:")
print(df.loc[0])

print("\nRows with index labels 0 through 3 (INCLUSIVE!):")
print(df.loc[0:3])  # Note: this INCLUDES row 3!

# Advanced: selecting rows AND columns
print("\nRows 0-2, only Name and Age columns:")
print(df.loc[0:2, ['Name', 'Age']])

## ğŸ­ Section 6: Filtering Data with Conditions (The Magic!)

This is where pandas becomes incredibly powerful! Think of this as Excel's AutoFilter, but much more flexible.

### ğŸ”¥ The Process:
1. Create a condition (returns True/False for each row)
2. Use that condition to filter the DataFrame
3. Combine multiple conditions with `&` (AND) and `|` (OR)

### ğŸš¨ Important: Always use `&` and `|`, NOT `and` and `or`!

In [ ]:
# Step 1: Create a condition (this returns True/False for each row)
age_condition = df['Age'] > 30
print("ğŸ”¸ The condition df['Age'] > 30:")
print(age_condition)
print(f"\nType: {type(age_condition)}")

print("\n" + "="*60)

# Step 2: Use the condition to filter
adults = df[df['Age'] > 30]
print("\nğŸ”¸ People older than 30:")
print(adults[['Name', 'Age']])

In [ ]:
# More filtering examples
print("ğŸ”¸ Female passengers:")
females = df[df['Sex'] == 'female']
print(females[['Name', 'Sex', 'Age']])

print("\n" + "="*60)

# Combining conditions with & (AND) - MUST use parentheses!
print("\nğŸ”¸ Female passengers older than 25:")
young_females = df[(df['Sex'] == 'female') & (df['Age'] > 25)]
print(young_females[['Name', 'Sex', 'Age']])

print("\n" + "="*60)

# Using | (OR) - MUST use parentheses!
print("\nğŸ”¸ People in First Class OR who survived:")
first_or_survived = df[(df['Pclass'] == 1) | (df['Survived'] == 1)]
print(first_or_survived[['Name', 'Pclass', 'Survived']])

## ğŸ§° Section 7: Essential Functions - unique() and value_counts()

These two functions are absolute game-changers for exploring categorical data! They're like Excel's "Remove Duplicates" and "Pivot Tables" but much easier.

### ğŸ¯ When to use them:
- **`.unique()`** â†’ "What are all the different values in this column?"
- **`.value_counts()`** â†’ "How many times does each value appear?"

In [ ]:
# .unique() - Get all unique values
print("ğŸ”¸ Unique values in 'Sex' column:")
print(df['Sex'].unique())

print("\nğŸ”¸ Unique values in 'Pclass' column:")
print(df['Pclass'].unique())

print("\n" + "="*60)

# .value_counts() - Count how many times each value appears
print("\nğŸ”¸ Count of each gender:")
print(df['Sex'].value_counts())

print("\nğŸ”¸ Count of each passenger class:")
print(df['Pclass'].value_counts())

print("\nğŸ”¸ Survival counts:")
print(df['Survived'].value_counts())

# Pro tip: Add percentages!
print("\nğŸ”¸ Survival rates (as percentages):")
print(df['Survived'].value_counts(normalize=True) * 100)

## ğŸ“Š Section 8: Sorting Data

Sorting is like clicking the column headers in Excel to arrange your data. Super useful for finding patterns!

### ğŸ¯ Key Points:
- `df.sort_values(by='column')` â†’ Sort by one column
- `ascending=False` â†’ Sort from highest to lowest
- Sort by multiple columns for more complex ordering

In [ ]:
# Sort by Age (youngest to oldest)
print("ğŸ”¸ Sorted by Age (youngest first):")
sorted_by_age = df.sort_values(by='Age')
print(sorted_by_age[['Name', 'Age']].head())

print("\n" + "="*60)

# Sort by Age (oldest to youngest)
print("\nğŸ”¸ Sorted by Age (oldest first):")
sorted_by_age_desc = df.sort_values(by='Age', ascending=False)
print(sorted_by_age_desc[['Name', 'Age']].head())

print("\n" + "="*60)

# Sort by multiple columns
print("\nğŸ”¸ Sorted by Class (ascending), then Fare (descending):")
multi_sort = df.sort_values(by=['Pclass', 'Fare'], ascending=[True, False])
print(multi_sort[['Name', 'Pclass', 'Fare']].head(8))

## ğŸ§¹ Section 9: Handling Missing Data (NaN)

Real-world data is messy! Missing values (NaN = "Not a Number") are everywhere. Let's learn to deal with them like a pro.

### ğŸ¯ The Strategy:
1. **Find** missing data â†’ `df.isnull().sum()`
2. **Remove** it â†’ `df.dropna()`  
3. **Fill** it â†’ `df.fillna()`

### ğŸ’¡ Excel Analogy:
This is like finding empty cells and deciding whether to delete the rows or fill them with something sensible.

In [ ]:
# 1ï¸âƒ£ Find missing data
print("ğŸ”¸ Missing values in each column:")
missing_data = df.isnull().sum()
print(missing_data)

print("\nğŸ”¸ Rows with missing Age values:")
missing_age_rows = df[df['Age'].isnull()]
print(missing_age_rows[['Name', 'Age']])

print("\n" + "="*60)

# 2ï¸âƒ£ Remove missing data
print("\nğŸ”¸ Original shape:", df.shape)
df_no_missing = df.dropna()
print("ğŸ”¸ After removing missing values:", df_no_missing.shape)
print("ğŸ”¸ We lost", df.shape[0] - df_no_missing.shape[0], "rows")

In [ ]:
# 3ï¸âƒ£ Fill missing data (better approach!)
print("\nğŸ”¸ Filling missing Age values:")

# Method 1: Fill with a specific value
df_filled_zero = df.copy()
df_filled_zero['Age'].fillna(0, inplace=True)
print("Filled with 0:", df_filled_zero['Age'].tolist())

# Method 2: Fill with the mean (most common approach)
df_filled_mean = df.copy()
mean_age = df['Age'].mean()
df_filled_mean['Age'].fillna(mean_age, inplace=True)
print(f"\nFilled with mean ({mean_age:.1f}):", df_filled_mean['Age'].tolist())

# Method 3: Forward fill (use previous value)
df_filled_ffill = df.copy()
df_filled_ffill['Age'].fillna(method='ffill', inplace=True)
print("\nForward filled:", df_filled_ffill['Age'].tolist())

## ğŸ› ï¸ Section 10: Creating and Modifying Columns

One of pandas' superpowers is creating new columns from existing ones. This is like adding formulas in Excel, but much more powerful!

### ğŸ¯ Three Main Approaches:
1. **Arithmetic operations** â†’ Simple math between columns
2. **`np.where()`** â†’ If-then-else logic  
3. **`.apply()`** â†’ Apply custom functions to each row/value

In [ ]:
# Let's work with a clean dataset for this section
df_clean = df.copy()
df_clean['Age'].fillna(df_clean['Age'].mean(), inplace=True)  # Fill missing ages

# 1ï¸âƒ£ Arithmetic operations - Create new columns from existing ones
print("ğŸ”¸ Creating new columns with arithmetic:")

# Add some family size columns to our dataset first
df_clean['SibSp'] = [1, 1, 0, 1, 0, 0, 0, 3, 0, 1, 1, 0]  # Siblings/Spouses
df_clean['Parch'] = [0, 0, 0, 0, 0, 0, 0, 1, 2, 0, 1, 0]  # Parents/Children

# Create family size (person + siblings/spouses + parents/children)
df_clean['FamilySize'] = df_clean['SibSp'] + df_clean['Parch'] + 1
print("Family Size calculation:")
print(df_clean[['Name', 'SibSp', 'Parch', 'FamilySize']].head())

# Create fare per person
df_clean['FarePerPerson'] = df_clean['Fare'] / df_clean['FamilySize']
print(f"\nFare per person:")
print(df_clean[['Name', 'Fare', 'FamilySize', 'FarePerPerson']].head())

In [ ]:
# 2ï¸âƒ£ Using np.where() for conditional logic (if-then-else)
print("\nğŸ”¸ Using np.where() for conditional columns:")

# Create age groups
df_clean['AgeGroup'] = np.where(df_clean['Age'] < 18, 'Child',
                               np.where(df_clean['Age'] < 65, 'Adult', 'Senior'))
print("Age groups:")
print(df_clean[['Name', 'Age', 'AgeGroup']].head(8))

# Create survival status in words
df_clean['SurvivalStatus'] = np.where(df_clean['Survived'] == 1, 'Survived', 'Died')
print(f"\nSurvival status:")
print(df_clean[['Name', 'Survived', 'SurvivalStatus']].head())

In [ ]:
# 3ï¸âƒ£ Using .apply() for more complex operations
print("\nğŸ”¸ Using .apply() for custom functions:")

# Extract name length
df_clean['NameLength'] = df_clean['Name'].apply(len)
print("Name lengths:")
print(df_clean[['Name', 'NameLength']].head())

# Extract title from names (Mr., Mrs., Miss., etc.)
def extract_title(name):
    return name.split(',')[1].split('.')[0].strip()

df_clean['Title'] = df_clean['Name'].apply(extract_title)
print(f"\nTitles extracted:")
print(df_clean[['Name', 'Title']].head())

# Custom function to categorize fare
def fare_category(fare):
    if fare < 10:
        return 'Low'
    elif fare < 30:
        return 'Medium'
    else:
        return 'High'

df_clean['FareCategory'] = df_clean['Fare'].apply(fare_category)
print(f"\nFare categories:")
print(df_clean[['Name', 'Fare', 'FareCategory']].head())

## ğŸ·ï¸ Section 11: Dropping and Renaming Columns

Sometimes you need to clean up your DataFrame by removing unnecessary columns or giving them better names. Think of this as cleaning up your Excel spreadsheet!

### ğŸ¯ Key Operations:
- **Drop columns** â†’ `df.drop('column', axis=1)`
- **Rename columns** â†’ `df.rename(columns={'old': 'new'})`
- **Rename index** â†’ `df.rename(index={0: 'first_row'})`

In [ ]:
# Current columns
print("ğŸ”¸ Current columns:")
print(list(df_clean.columns))

# 1ï¸âƒ£ Dropping columns
print("\nğŸ”¸ Dropping unnecessary columns:")
df_clean_dropped = df_clean.drop(['PassengerId', 'SibSp', 'Parch'], axis=1)
print("After dropping PassengerId, SibSp, Parch:")
print(list(df_clean_dropped.columns))

# You can also drop multiple columns at once
# df_clean.drop(['col1', 'col2', 'col3'], axis=1)

print("\n" + "="*60)

# 2ï¸âƒ£ Renaming columns for clarity
print("\nğŸ”¸ Renaming columns:")
df_renamed = df_clean_dropped.rename(columns={
    'Pclass': 'PassengerClass',
    'Sex': 'Gender',
    'Age': 'AgeInYears',
    'Fare': 'TicketPrice'
})

print("After renaming:")
print(list(df_renamed.columns))

In [ ]:
# 3ï¸âƒ£ Renaming indexes
print("\nğŸ”¸ Renaming index:")
print("Original index:", df_renamed.index.tolist())

# Let's set passenger names as index and then rename some
df_with_name_index = df_renamed.set_index('Name')
print("\nWith Name as index:")
print(df_with_name_index.head(3))

# Rename specific index values
df_with_name_index = df_with_name_index.rename(index={
    'Braund, Mr. Owen Harris': 'Passenger_001',
    'Cumings, Mrs. John Bradley': 'Passenger_002'
})
print("\nAfter renaming some index values:")
print(df_with_name_index.head(3))

## ğŸ”§ Section 12: Changing Data Types

Data types matter! Sometimes pandas guesses wrong, or you need to optimize memory usage. This is like formatting cells in Excel.

### ğŸ¯ Common Data Types:
- `int64` â†’ Whole numbers  
- `float64` â†’ Decimal numbers
- `object` â†’ Text/strings (and mixed types)
- `category` â†’ Limited set of values (saves memory!)
- `bool` â†’ True/False
- `datetime64` â†’ Dates and times

In [ ]:
# Let's go back to our main dataset for this section
print("ğŸ”¸ Current data types:")
print(df_clean.dtypes)

print("\n" + "="*60)

# 1ï¸âƒ£ Converting to categorical (saves memory for repeated values)
print("\nğŸ”¸ Converting to categorical:")
print(f"Gender unique values: {df_clean['Sex'].unique()}")
df_clean['Sex'] = df_clean['Sex'].astype('category')
print(f"Sex data type after conversion: {df_clean['Sex'].dtype}")

# Convert passenger class to category too
df_clean['Pclass'] = df_clean['Pclass'].astype('category')
print(f"Pclass data type: {df_clean['Pclass'].dtype}")

# 2ï¸âƒ£ Converting numbers
print("\nğŸ”¸ Converting numeric types:")
# Convert Survived to boolean
df_clean['Survived_Bool'] = df_clean['Survived'].astype(bool)
print(f"Survived as boolean: {df_clean['Survived_Bool'].dtype}")
print(f"Values: {df_clean['Survived_Bool'].head().tolist()}")

# Convert fare to integer (removing decimals)
df_clean['Fare_Int'] = df_clean['Fare'].astype(int)
print(f"Fare as integer: {df_clean['Fare_Int'].head().tolist()}")
print(f"Original Fare: {df_clean['Fare'].head().tolist()}")

## ğŸš€ Section 13: Groupby Operations - The Split-Apply-Combine Pattern

This is THE most powerful feature in pandas! Think of it as Excel PivotTables but much more flexible.

### ğŸ¯ The Magic Pattern:
1. **Split** â†’ Divide data into groups based on column values
2. **Apply** â†’ Perform calculations on each group  
3. **Combine** â†’ Merge results back together

### ğŸ“Š Common Aggregation Functions:
- `.sum()`, `.count()`, `.mean()`, `.median()`
- `.min()`, `.max()`, `.std()`, `.var()`
- `.nunique()` â†’ Count unique values
- `.agg()` â†’ Apply multiple functions at once

In [ ]:
# Let's understand the groupby process step by step
print("ğŸ”¸ Understanding GroupBy:")

# Step 1: The Split - Create groups (this doesn't show results yet!)
grouped = df_clean.groupby('Sex')
print(f"Grouped object type: {type(grouped)}")
print(f"Groups created: {list(grouped.groups.keys())}")

print("\n" + "="*60)

# Step 2 & 3: Apply & Combine - Now we see results!
print("\nğŸ”¸ Basic aggregations by Gender:")

print("Average age by gender:")
print(df_clean.groupby('Sex')['Age'].mean())

print("\nSurvival rate by gender:")
print(df_clean.groupby('Sex')['Survived'].mean())

print("\nPassenger count by gender:")
print(df_clean.groupby('Sex').size())  # size() counts rows per group

In [ ]:
# ğŸ”¥ The POWER of .agg() - Multiple aggregations at once!
print("\nğŸ”¸ Multiple aggregations with .agg():")

# Apply different functions to different columns
result = df_clean.groupby('Sex').agg({
    'Age': ['mean', 'min', 'max', 'std'],     # Multiple functions for Age
    'Fare': ['mean', 'median', 'sum'],        # Multiple functions for Fare
    'Survived': ['sum', 'mean', 'count']      # Multiple functions for Survived
})

print(result)

print("\n" + "="*60)

# Group by Passenger Class
print("\nğŸ”¸ Analysis by Passenger Class:")
class_analysis = df_clean.groupby('Pclass').agg({
    'Age': ['mean', 'std'],
    'Fare': ['mean', 'min', 'max'],
    'Survived': ['sum', 'mean'],
    'FamilySize': ['mean', 'max']
})
print(class_analysis)

In [ ]:
# ğŸ“Š More Statistical Functions
print("\nğŸ”¸ Statistical functions by group:")

print("Standard deviation of Age by Gender:")
print(df_clean.groupby('Sex')['Age'].std())

print("\nVariance of Fare by Class:")
print(df_clean.groupby('Pclass')['Fare'].var())

print("\nNumber of unique ages by Class:")
print(df_clean.groupby('Pclass')['Age'].nunique())

print("\nMinimum and Maximum fare by Class:")
print("Minimum:", df_clean.groupby('Pclass')['Fare'].min().to_dict())
print("Maximum:", df_clean.groupby('Pclass')['Fare'].max().to_dict())

print("\n" + "="*60)

# All basic stats at once using describe()
print("\nğŸ”¸ Complete statistical summary by Gender:")
print(df_clean.groupby('Sex')['Age'].describe())

## ğŸ¯ Section 14: Advanced Grouping and Aggregations

Let's take groupby to the next level! Multiple grouping columns, transformations, and filtering groups.

### ğŸ”§ Advanced Techniques:
- **Multiple columns** â†’ `df.groupby(['col1', 'col2'])`
- **Transform** â†’ Add group statistics back to original DataFrame
- **Filter groups** â†’ Keep only groups that meet certain criteria

In [ ]:
# 1ï¸âƒ£ Grouping by Multiple Columns
print("ğŸ”¸ Grouping by Class AND Gender:")
multi_group = df_clean.groupby(['Pclass', 'Sex']).agg({
    'Age': 'mean',
    'Fare': 'mean',
    'Survived': ['count', 'sum', 'mean']
})
print(multi_group)

print("\n" + "="*60)

# 2ï¸âƒ£ Transform - Add group statistics back to original DataFrame
print("\nğŸ”¸ Transform - Adding group averages back to each row:")

# Add the average age per gender to each row
df_clean['AvgAgeByGender'] = df_clean.groupby('Sex')['Age'].transform('mean')

# Add the average fare per class to each row
df_clean['AvgFareByClass'] = df_clean.groupby('Pclass')['Fare'].transform('mean')

# Show the results
print(df_clean[['Name', 'Sex', 'Age', 'AvgAgeByGender', 'Pclass', 'Fare', 'AvgFareByClass']].head(8))

In [ ]:
# 3ï¸âƒ£ Filter Groups - Keep only groups that meet criteria
print("\nğŸ”¸ Filter Groups:")

# Keep only gender groups that have more than 5 people
large_gender_groups = df_clean.groupby('Sex').filter(lambda x: len(x) > 5)
print(f"Original data: {len(df_clean)} rows")
print(f"After filtering: {len(large_gender_groups)} rows")
print("Groups kept:", large_gender_groups['Sex'].unique())

print("\n" + "="*60)

# Create deviation from group mean
print("\nğŸ”¸ Calculating deviations from group mean:")
df_clean['AgeDeviation'] = df_clean.groupby('Sex')['Age'].transform(lambda x: x - x.mean())
df_clean['FareDeviation'] = df_clean.groupby('Pclass')['Fare'].transform(lambda x: x - x.mean())

print("Age and Fare deviations from group means:")
print(df_clean[['Name', 'Sex', 'Age', 'AgeDeviation', 'Pclass', 'Fare', 'FareDeviation']].head(8))

## ğŸ”— Section 15: Combining DataFrames with concat and merge

Sometimes you have data spread across multiple files or tables. Pandas provides powerful tools to combine them!

### ğŸ¯ Two Main Approaches:
- **`concat()`** â†’ Stack DataFrames (like copying and pasting in Excel)
- **`merge()`** â†’ Join DataFrames on common columns (like VLOOKUP or SQL JOIN)

### ğŸ“‹ Merge Types:
- `inner` â†’ Keep only matching records
- `left` â†’ Keep all from left DataFrame  
- `right` â†’ Keep all from right DataFrame
- `outer` â†’ Keep all records from both

In [ ]:
# Let's create some example DataFrames for demonstration
df1 = pd.DataFrame({
    'Name': ['Alice', 'Bob', 'Charlie'],
    'Age': [25, 30, 35],
    'City': ['NYC', 'LA', 'Chicago']
})

df2 = pd.DataFrame({
    'Name': ['David', 'Eve', 'Frank'],
    'Age': [28, 32, 29],
    'City': ['Boston', 'Seattle', 'Miami']
})

print("ğŸ”¸ DataFrame 1:")
print(df1)
print("\nğŸ”¸ DataFrame 2:")
print(df2)

# 1ï¸âƒ£ Concatenation - Stacking DataFrames
print("\nğŸ”¸ Concatenating (stacking) DataFrames:")
combined = pd.concat([df1, df2])
print(combined)
print(f"Notice the index: {combined.index.tolist()}")

# Reset index after concatenation
combined_reset = pd.concat([df1, df2], ignore_index=True)
print(f"\nAfter resetting index: {combined_reset.index.tolist()}")

In [ ]:
# 2ï¸âƒ£ Merging - Joining DataFrames on common columns
print("\n" + "="*60)
print("\nğŸ”¸ Merging DataFrames:")

# Create DataFrames with a common column to join on
customers = pd.DataFrame({
    'CustomerID': [1, 2, 3, 4],
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'Age': [25, 30, 35, 28]
})

orders = pd.DataFrame({
    'OrderID': [101, 102, 103, 104, 105],
    'CustomerID': [1, 2, 2, 3, 5],  # Note: CustomerID 5 doesn't exist in customers!
    'Product': ['Laptop', 'Phone', 'Tablet', 'Camera', 'Watch'],
    'Amount': [1000, 800, 300, 600, 200]
})

print("Customers DataFrame:")
print(customers)
print("\nOrders DataFrame:")
print(orders)

# Inner merge (only matching records)
print("\nğŸ”¸ Inner Merge (only matching records):")
inner_merged = pd.merge(customers, orders, on='CustomerID', how='inner')
print(inner_merged)

# Left merge (all customers, even those without orders)
print("\nğŸ”¸ Left Merge (all customers):")
left_merged = pd.merge(customers, orders, on='CustomerID', how='left')
print(left_merged)

## ğŸ—ƒï¸ Section 16: Working with Index

The index is like the "row names" in your DataFrame. Understanding it unlocks more advanced pandas operations!

### ğŸ¯ Key Operations:
- **Set index** â†’ `df.set_index('column')`
- **Reset index** â†’ `df.reset_index()`
- **Multi-index** â†’ Multiple levels of indexing

In [ ]:
# Working with our Titanic data
print("ğŸ”¸ Current index:")
print(f"Index: {df_clean.index.tolist()}")
print(f"Index name: {df_clean.index.name}")

# 1ï¸âƒ£ Set a meaningful column as index
df_with_name_index = df_clean.set_index('Name')
print("\nğŸ”¸ After setting 'Name' as index:")
print(df_with_name_index.head(3))
print(f"Index name: {df_with_name_index.index.name}")

# Now we can select rows by name!
print("\nğŸ”¸ Selecting by passenger name:")
alice_row = df_with_name_index.loc['Heikkinen, Miss. Laina']
print(alice_row[['Age', 'Sex', 'Survived']])

print("\n" + "="*60)

# 2ï¸âƒ£ Reset index back to default
df_reset = df_with_name_index.reset_index()
print("\nğŸ”¸ After resetting index:")
print(df_reset.head(3))
print(f"Index: {df_reset.index.tolist()}")
print("Notice 'Name' is now a regular column again!")

## ğŸ’¾ Section 17: Saving Results

After all that hard work analyzing and cleaning data, you'll want to save your results!

### ğŸ¯ Common Export Formats:
- **CSV** â†’ `df.to_csv('filename.csv')` (most common)
- **Excel** â†’ `df.to_excel('filename.xlsx')`
- **JSON** â†’ `df.to_json('filename.json')`
- **Pickle** â†’ `df.to_pickle('filename.pkl')` (preserves all pandas data types)

In [ ]:
# Saving our cleaned and enhanced dataset
print("ğŸ”¸ Saving DataFrames:")

# Most common: Save to CSV
# Note: index=False prevents saving the row numbers as a column
df_clean.to_csv('titanic_cleaned.csv', index=False)
print("âœ… Saved to 'titanic_cleaned.csv'")

# Save only specific columns
df_clean[['Name', 'Age', 'Sex', 'Survived', 'FamilySize']].to_csv('titanic_summary.csv', index=False)
print("âœ… Saved summary to 'titanic_summary.csv'")

# Save our grouped analysis
survival_by_class = df_clean.groupby('Pclass')['Survived'].agg(['count', 'sum', 'mean'])
survival_by_class.to_csv('survival_by_class.csv')
print("âœ… Saved analysis to 'survival_by_class.csv'")

print(f"\nğŸ“Š Final dataset shape: {df_clean.shape}")
print(f"ğŸ“‹ Columns: {list(df_clean.columns)}")

# Show a sample of what we saved
print("\nğŸ”¸ Sample of cleaned data:")
print(df_clean[['Name', 'Age', 'Sex', 'Pclass', 'Survived', 'FamilySize', 'AgeGroup']].head())

## ğŸ¯ Section 18: Mini-Project - Putting It All Together!

Let's do a complete end-to-end analysis using everything we've learned! We'll answer some interesting questions about the Titanic passengers.

### ğŸ•µï¸â€â™€ï¸ Our Research Questions:
1. What was the survival rate by passenger class and gender?
2. Who were the youngest and oldest survivors?
3. What was the average fare paid by survivors vs non-survivors?
4. How did family size affect survival chances?
5. Which passenger class had the highest survival rate?

Let's investigate! ğŸ”

In [ ]:
# ğŸ” Question 1: Survival rate by passenger class and gender
print("ğŸ” QUESTION 1: Survival rate by class and gender")
print("="*60)

survival_analysis = df_clean.groupby(['Pclass', 'Sex']).agg({
    'Survived': ['count', 'sum', 'mean'],
    'Age': 'mean',
    'Fare': 'mean'
}).round(2)

print(survival_analysis)

print("\nğŸ’¡ Key Insights:")
print("- First class passengers had much higher survival rates")
print("- Women had significantly higher survival rates than men")
print("- First class female passengers had the highest survival rate")

print("\n" + "="*60)

# ğŸ” Question 2: Youngest and oldest survivors
print("\nğŸ” QUESTION 2: Youngest and oldest survivors")
print("="*60)

survivors = df_clean[df_clean['Survived'] == 1]

youngest_survivor = survivors.loc[survivors['Age'].idxmin()]
oldest_survivor = survivors.loc[survivors['Age'].idxmax()]

print(f"ğŸ‘¶ Youngest survivor: {youngest_survivor['Name']}, Age: {youngest_survivor['Age']}")
print(f"ğŸ‘´ Oldest survivor: {oldest_survivor['Name']}, Age: {oldest_survivor['Age']}")

print(f"\nğŸ“Š Age statistics for survivors:")
print(survivors['Age'].describe())

In [ ]:
# ğŸ” Question 3: Average fare by survival status
print("\nğŸ” QUESTION 3: Average fare - Survivors vs Non-survivors")
print("="*60)

fare_by_survival = df_clean.groupby('Survived').agg({
    'Fare': ['mean', 'median', 'std', 'min', 'max'],
    'Age': 'mean'
}).round(2)

print(fare_by_survival)
print(f"\nğŸ’° Survivors paid on average: ${df_clean[df_clean['Survived']==1]['Fare'].mean():.2f}")
print(f"ğŸ’¸ Non-survivors paid on average: ${df_clean[df_clean['Survived']==0]['Fare'].mean():.2f}")

print("\n" + "="*60)

# ğŸ” Question 4: Family size and survival
print("\nğŸ” QUESTION 4: How family size affected survival")
print("="*60)

family_survival = df_clean.groupby('FamilySize').agg({
    'Survived': ['count', 'sum', 'mean'],
    'Age': 'mean'
}).round(3)

print(family_survival)

print(f"\nğŸ‘¨â€ğŸ‘©â€ğŸ‘§â€ğŸ‘¦ Family size survival rates:")
for size in sorted(df_clean['FamilySize'].unique()):
    rate = df_clean[df_clean['FamilySize']==size]['Survived'].mean()
    count = len(df_clean[df_clean['FamilySize']==size])
    print(f"   Family size {size}: {rate:.1%} survival rate ({count} passengers)")

In [ ]:
# ğŸ” Question 5: Which class had the highest survival rate?
print("\nğŸ” QUESTION 5: Survival rate by passenger class")
print("="*60)

class_survival = df_clean.groupby('Pclass').agg({
    'Survived': ['count', 'sum', 'mean'],
    'Fare': 'mean',
    'Age': 'mean'
}).round(3)

print(class_survival)

print(f"\nğŸ† FINAL SUMMARY:")
print("="*60)

for pclass in sorted(df_clean['Pclass'].unique()):
    passengers = len(df_clean[df_clean['Pclass']==pclass])
    survivors = df_clean[df_clean['Pclass']==pclass]['Survived'].sum()
    rate = df_clean[df_clean['Pclass']==pclass]['Survived'].mean()
    avg_fare = df_clean[df_clean['Pclass']==pclass]['Fare'].mean()

    print(f"ğŸ“Š Class {pclass}: {survivors}/{passengers} survived ({rate:.1%}) - Avg fare: ${avg_fare:.2f}")

# Overall survival rate
overall_rate = df_clean['Survived'].mean()
total_passengers = len(df_clean)
total_survivors = df_clean['Survived'].sum()

print(f"\nğŸš¢ OVERALL: {total_survivors}/{total_passengers} passengers survived ({overall_rate:.1%})")

print(f"\nğŸ¯ TOP FINDINGS:")
print("   1. First-class passengers had the highest survival rate")
print("   2. Women were much more likely to survive than men")
print("   3. Passengers who paid higher fares were more likely to survive")
print("   4. Very large families had lower survival rates")
print("   5. Age played a role - children had better survival chances")

## ğŸŠ Congratulations! You've Mastered Pandas Basics!

### ğŸ† What You've Accomplished:
âœ… **Data Structures**: Mastered Series and DataFrames  
âœ… **Data Loading**: Read and inspect datasets like a pro  
âœ… **Data Selection**: Used `.loc`, `.iloc`, and boolean indexing  
âœ… **Data Filtering**: Created complex conditions with `&` and `|`  
âœ… **Data Exploration**: Used `.unique()`, `.value_counts()`, and more  
âœ… **Data Cleaning**: Handled missing values and data types  
âœ… **Feature Engineering**: Created new columns with arithmetic, `np.where()`, and `.apply()`  
âœ… **Data Organization**: Dropped, renamed, and reorganized columns  
âœ… **GroupBy Magic**: Performed powerful aggregations with min, max, mean, std, and more  
âœ… **Data Combination**: Merged and concatenated DataFrames  
âœ… **Index Management**: Set and reset indexes  
âœ… **Data Export**: Saved your results to CSV files  
âœ… **Real Analysis**: Completed a full end-to-end data analysis project!  

### ğŸš€ Next Steps:
- **Plotting**: Learn to create visualizations with `matplotlib` and `seaborn`
- **Advanced Pandas**: Time series analysis, pivot tables, and performance optimization
- **Machine Learning**: Use `scikit-learn` with your pandas skills
- **Real Datasets**: Practice with Kaggle datasets and real-world data

### ğŸ’ª You're Ready For Real-World Data Analysis!

Remember: Pandas is like Excel, but with superpowers. You now have those superpowers! ğŸ¦¸â€â™€ï¸

---

**Keep practicing and happy data analyzing!** ğŸ“Šâœ¨